[Desktop Entry]
Name=tickletankle
Comment=2-player tank game
Comment[pl]=2-osobowa gra, w której walczy się czołgiem
Exec=tickletankle
Terminal=false
Icon=tickletankle
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
